[Unit]
Description=CSYE 6225 App
After=network.target mysql.service

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/webapp
EnvironmentFile=/etc/.env
ExecStart=/bin/bash  -c "source /opt/csye6225/venv/bin/activate && python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225


[Install]
WantedBy=multi-user.target